// COLORS
$accent-color: #ff3e79;
$hover-color: #f76691;
$active-color: #dd225a;

$color-secondary: #41f6d7;
$color-secondary-light-1: #b8ffec;
$color-secondary-light-2: #d9fff5;
$color-secondary-dark: #5ad3bf;

$font-color-dark: #1b1c21;
$font-color-light: #7e7e82;

$bg-color: #f8f8f8;
$border-color: #eaeaea;

//  FONT
$main-size: 16px;
$text-size: 14px;
